[user]
	name = Erik Fastermann
	email = erik@fastermann.de
[alias]
    wipe = "!git reset --hard HEAD && git clean -fd"
    browse = "!bash ${SCRIPTS}/git/browse.sh"
    ls-all = "!git log --format='' --name-only | sort -u"
    gh = "!bash $BROWSER $(git remote get-url origin | sed -e 's+git@github.com:+https://github.com/+')"

[url "https://github.com/"]
    insteadOf = "gh:"
[url "git@github.com:"]
    insteadOf = "ghs:"
